@{
    ViewBag.Title = "Creador";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Creado por Alejandro Molero. Mejorando en la programación web con C# y JavaScript</p>
</main>